
<h2>My Profile</h2></br>

<div class = "row">
  <div class="col-md-4">
    <div class="thumbnail">
        <%=image_tag @user.avatar.url(:original),:class => "img-responsive" %>
    </div>
  </div>

  <div class="col-md-8">
    <h2> <%= @user.fname %> <%= @user.lname %></br></h2>
    <h2><small>Email: </small><%= @user.email %></h2>
  </div>
</div>



    




<hr size=2>
<h2><small>Groups</small></h2>

<% @groups.each do |group| %>
 <h3><%= link_to group.name, group %></h3>
<% end %>
</br></br>
<%= link_to "Edit Profile", edit_user_registration_path(current_user), class: "btn btn-primary"%>