<%= simple_form_for [group, post],html: {multipart: true} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<%= f.input :title, placeholder: 'What are you giving away today?', label: false %>
    <%= f.input :description, placeholder: 'Tell us about your giveaway', label: false %>
    <%= f.input :tag_list%>
    <%= f.hidden_field :post_type, :value => 'G' %>
    <%= file_field_tag "images[]", type: :file, multiple: true, class: "form-control"%>
  </div>

  

  <%= f.button :submit, 'Post' %>
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
<% end %>
